:root {
  --primary: #4FD1C5;
  --primary-hover: #0D897E;
  --primary-active: #045C54;
  --black: #09101D;
  --neutral-1: #2C3A4B;
  --neutral-2: #394452;
  --neutral-3: #545D69;
  --neutral-4: #6D7580;
  --neutral-5: #858C94;
  --neutral-6: #A5ABB3;
  --neutral-7: #DADEE3;
  --neutral-8: #EBEEF2;
  --neutral-9: #F4F6F9;
  --white: #FFFFFF;
  --success: #48BB78;
  --warning: #F6AD55;
  --error: #E53E3E;
  --info: #4299E1;
  --accent: #7858C4;
  --secondary: #319795;
  --darkBlue1: #232B4D;
  --darkBlue2: #232e3b;
  --darkBlue3: #31387b;
  --darkBlue4: #151928;
  --darkBlue5: #1A223F;
  --lightBlue: #E5EAF2;
  --lightBlue2: #F0F5FF;
  --lightPurple: #F9F5FF;
  --lightGreen: #E6FFFA;
  --orange: #FFA726;
  --orange2: #F44336;
  --orange3: #FF9800;
  --orange4: #FFEBEE;
  --orange5: #FFB300;
  --orange6: #F6AD55;
  --purple: #A259FF;
  --purple2: #7852F3;
  --purple3: #6A4C93;
  --purple4: #FF2BC2;
  --teal: #2ed8c3;
  --teal2: #25b6a7;
  --gray1: #868c94;
  --gray2: #e0e0e0;
  --gray3: #888;
  --gray4: #54697A;
  --gray5: #6D758F;
  --green: #38C976;
  --blue: #2196F3;
  --blue2: #1976D2;
  --blue3: #0061FF;
  --yellow: #FFF3E0;
} 